body{
	background-color: #C4E0F9;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: 500px;
}
.navbar-stick-static-top {
	background-color:#9933ff !important;
	border:none;
  }
h1{
	font-family: 'Gunmetal', sans-serif;
	font-size: 40px;
	text-align: center;
	text-shadow: 5px 5px #67AAF9;                                              
}
input:focus{
	outline:4px solid blue;
}
hr{
	color: black;
}
table{
	margin-left: 200px;
	
	color: white; 
	text-align: left; 
	width: 700px;
}
th{
	color: black;
}
table {
	border-collapse: collapse;
	width: 80%;
	margin-bottom: 20px;
	text-align: left;
}
th, td {
	text-align: left;
	padding: 8px;
}
th {
	background-color: #B95F89;
	color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
	color: rgb(62, 33, 188);
}
img {
	width: 100px;
	height: 100px;
}
hamburguesa{
	color: orange;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}
rosa{
	color:green;
}
morado{
	color: purple;
}
img{
	width: 100px;
	height: 100px;
	border-radius: 10%;
	box-shadow: black;
}
  .imagen1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
	z-index: 1;
  }
  .imagen2 {
	position: absolute;
	top: 0px;
	left: 400px;
	width: 400px;
	height: 400px;
	z-index: 2;
  }
  .imagen3 {
	position: absolute;
	top: 0px;
	left: 800px;
	width: 400px;
	height: 400px;
	z-index: 3;

  }
  .imagen4 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
	z-index: 5;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .imagen5 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
	z-index: 4;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .imagen6 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
	z-index: 3;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .imagen7 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
	z-index: 2;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .imagen8 {
	position: absolute;
	top: 50px;
	left: 50px;
	width: 200px;
	height: 150px;
	z-index: 1;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .collage {
	position: relative;
	width: 1200px;
	height: 800px;
	
	border-radius: 10px;
	opacity: 0.9;
  }