.back {
    background-color: black;
  }
  .placeholder {
    position: absolute;
    top: 580px;
    left: 80px;
    width: 165px;
    height: 40px;
    font-size: 25px;
    border-radius: 8px;
    background-color: #f9ee60;
    border-color: #f9ee60;
  }
  .pokeimg {
    width: 205px;
    height: 205px;
    position: absolute;
    top: 240px;
    left: 130px;
  }
  .pokeimg1 {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 560px;
    left: 690px;
    text-align: left;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 1px rgba(153, 102, 255, 0.5);
  }
  .boton {
    width: 53px;
    height: 53px;
    background-color: #00aaf7;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 11px;
    line-height: 32px;
    text-transform: uppercase;
    position: absolute;
    left: 73px;
    top: 500px;
    opacity: 20%;
  }
  .grafica {
    position: absolute;
    width:32%;
    left: 560px;
    top: 242px;
    
  }
  