body{
    background-color: #235789;
}
header{
    background-color: #F1D302;
}
nav{
    background-color: #ED1C24;
}
section{
    background-color: #FDFFFC;
}
article{
    background-color: #ED1C24;
}
aside{
    background-color: #020100;
}
footer{
    background-color: #F1D302;
}