body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .item {
    margin: 20px;
    width: 300px;
    text-align: center;
  }
  
  img {
    width: 10%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  h2 {
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  p {
    margin-top: 10px;
  }
  
  .price {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #f00;
  }
  