body{
	background-color: #F7B801;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	width: 500px;


}
.navbar-stick-static-top {
	background-color:#9933ff !important;
	border:none;
  }
titulo{
	font-family: 'Gunmetal', sans-serif;
	font-size: 40px;
	align-content: center;
                                                
}
input:focus{
	outline:4px solid blue;
}
hr{
	color: black;
}
table{
	margin-left: 200px;
	background-color: #F2B5D4; 
	color: white; 
	text-align: center; 
	width: 700px;
}
th{
	color: black;
}
hamburguesa{
	color: orange;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}
rosa{
	color:green;
}
morado{
	color: purple;
}
img{
	width: 100px;
	height: 100px;
	border-radius: 10%;
	box-shadow: black;
}